a:hover {
    color: #0c9600;
    font-size: 1.5em;/*文字サイズ2倍*/
    font-weight: bold;
  }
  
  
  .container {
    text-align: center;
    padding-top: 40px;
    border-radius: 20px;
  }
  .btn-open {
    display: inline-block;
    width: 180px;
    height:50px;
    text-align: center;
    background-color: #0c9600;
    font-size: 16px;
    line-height: 52px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #0c9600;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .btn-open:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    background : #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;
    z-index: -1;
  }
  .btn-open:hover{
    color: #0c9600;
  }
  .btn-open:hover:after{
    height: 240%;
    opacity: 1;
  }
  .btn-open:active:after{
    height: 340%;
    opacity: 1;
  }